* {
    box-sizing: border-box;
    margin: 0px;

}

.form-input {
    padding: 19px 20px;
    margin-bottom: 20px;
    margin-right: 22px;
    width: 231.36px;
    height: 53px;
    background: #f9f9f9;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.button-w231 {
    width: 231.36px;
    height: 53px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

@import "modules/_home.scss";
@import "modules/_product.scss";
@import "modules/_about.scss";
@import "modules/_contact.scss";
@import "modules/_certificate.scss";
@import "modules/_media.scss";
@import "modules/form.scss";

