.Certificates p {
    margin-top: 15px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 145%;
    color: #181414;
}

.certificates_holder {
    margin-top: 39px;
    display: flex;
    justify-content: space-between;
}
.cerificate {
    width: 380px;
    height: 538px;
}
